$color-gray:#6f6e6b;
$color-black: #000;
$main-font-color: #fff;

.container {
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: center;
    height: 100vh;
    color: $main-font-color;
}
.l-side {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: $color-gray;
    
}
.r-side {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    background-color:$color-black;
    height: 100%;
}
.login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;    
    height: 100%;
}